.item-img {
    height: 10rem;
}

.details {
    text-decoration: none;
    color: white;
    padding: 0.5rem 1.25rem;
    border: 1px solid white;
    border-radius: 3px;
    background-color: black;
}

.item {
    display: flex;
    flex-direction: column;
    margin: 1rem;
    gap: 1rem;
}